<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.signup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Admin.AdminHomeActivity" />
        <activity android:name=".Activities.Admin.AdminAddUserActivity" />
        <activity android:name=".Activities.Admin.ComplainListenerActivity" />
        <activity android:name=".Activities.Admin.DetailActivity" />
        <activity android:name=".Activities.MainAdmin.HomeActivity" />
        <activity android:name=".Activities.MainAdmin.AddAdminActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginValidateActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.Admin.user_for_register"></activity>
        <activity android:name=".Activities.MainAdmin.OverallDetailActivity" />
        <activity android:name=".Activities.Admin.user_for_register" />
        <activity android:name=".Activities.Admin.PasswordChange" />
        <activity android:name=".Activities.ForgotPassword"></activity>
    </application>

</manifest>